<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>radar_ble</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">radar_ble</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--

    
  -->

  <ion-button (click)="activateBluetooth()">Ativar Bluetooth</ion-button>
  <ion-button (click)="scanForDevices()">Scan for Devices</ion-button>

  <br><br>

  <div id="divExterna" class="painel-orc">
    <ion-button (click)="crate_mac_input()" >Filtro por MAC</ion-button>
    
    
    <ion-list scrollY="true" #newContainer >
      
      
      
    </ion-list>
  </div>

  <h2>Função activateBluetooth</h2>
  <div *ngFor="let device of devices">
    <h3>{{ device }}</h3>
    <p>{{ device.id }}</p>
  </div>

  <ng-template #newItem>
    <ion-item #mylbl color="secondary" class="input-custom" >
      <ion-input #itemValor id="itemValor" label=" MAC " maxlength="17" placeholder="0A.0B.2C.0D.0E.8F" ></ion-input>
      <ion-button (click)="mac_validate(itemValor.value)" size="large" color="tertiary"  >+</ion-button>
    </ion-item>
  </ng-template>



  <!--
    <div class="round_map">
    <div class="circle">
      <div class="device" *ngFor="let device of devices" [style.transform]="getDevicePosition(device.rssi, device.id)">
        {{ device.name }}
      </div>
    </div>
  </div>
0A.00.27.00.00.08
  -->

  <p>{{ activateBluetoothError }}</p>
  <p>{{ scanDevicesError }}</p>
</ion-content>

<div class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="back">
      <ion-icon size="large" (click)="navBluetoothHome()" name="bluetooth-outline"></ion-icon>
      <ion-label>_______</ion-label>
    </ion-tab-button>
    <ion-tab-button class="home-tab" tab="home">
      <ion-icon size="large" name="home-outline"></ion-icon>
      <ion-label>_______</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="navRadarBLE()" tab="orcamento">
      <ion-icon color="primary" size="large" name="locate"></ion-icon>
      <ion-label color="primary">_______</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>