<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>radar_ble</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">radar_ble</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--

    
  -->

  <ion-button (click)="activateBluetooth()">Ativar Bluetooth</ion-button>
  <ion-button (click)="scanForDevices()">Scan for Devices</ion-button>

  <br><br>

  <div id="divExterna" class="painel-orc">
    <ion-button (click)="crate_mac_input()" >Filtro por MAC</ion-button>
    <ion-button (click)="iniciarMonitoramento()">Iniciar Monitoramento</ion-button>
    <ion-button (click)="startGyroscope()">printCurrentPosition</ion-button>
    
    
    <ion-list scrollY="true" #newContainer >
      

      
    </ion-list>
  </div>

  <h2>Função activateBluetooth</h2>
  <div *ngFor="let device of devices"> <!--*ngFor="let device of devices"-->
    <h3>{{ device.name || 'UnamedDevice' }}</h3>
    <p>{{ device.id }}</p>
    <p>{{ device.rssi }}</p>
    <p>{{ device.advertising }} </p> <!--click()="extract_adversting_device(device)"-->
    <p>{{ device.advertisingData }}</p>
    <!-- <p>{{ device.advertisingDataParsed }}</p> -->
    
  </div>

  <!-- <div>
    DEVICE ADVERTASING:

    {{ device_advertising }}

  </div> -->

  <ng-template #newItem>
    <ion-item #mylbl color="secondary" class="input-custom" >
      <ion-input #itemValor id="itemValor" label=" MAC " maxlength="17" placeholder="0A.0B.2C.0D.0E.8F" ></ion-input>
      <ion-button (click)="addDevice()" size="large" color="tertiary"  >Selecionar Device</ion-button>
      
      <ion-button (click)="mac_validate(itemValor.value)" size="large" color="tertiary"  >+</ion-button>
      
    </ion-item>
  </ng-template>
  
  <div class="round_map">
    <div class="circle">
      <ng-container *ngIf="devices_filter.length > 0">
        
        <div class="device" [style.transform]="getDevicePosition(device.rssi, device.id)" *ngFor="let device of devices_filter">
          <!--<div class="arrow" #arrow [style.transform]="'rotate(' + this.arrowRotation + 'deg)'" *ngIf="device.name === 'myPos'"></div>-->
          {{ device.name || 'UnamedDevice' }}
        </div>
      </ng-container>
      <ng-container *ngIf="devices_filter.length === 0">
        
        <div class="device" [style.transform]="getDevicePosition(device.rssi, device.id)" *ngFor="let device of devices">
          <!--<div class="arrow" #arrow [style.transform]="'rotate(' + this.arrowRotation + 'deg)'" *ngIf="device.name === 'myPos'"></div>-->
          {{ device.name || 'UnamedDevice' }}
        </div>
      </ng-container>
    </div>
  </div>
  

  <!--
0A.00.27.00.00.08
  -->

  <div *ngIf="accelerationX !== undefined">
    <p>Aceleração X: {{ accelerationX }}</p>
    <p>Aceleração Y: {{ accelerationY }}</p>
    <p>Aceleração Z: {{ accelerationZ }}</p>
  </div>

  <div *ngIf="latitude_coords !== undefined">
    <p>Longitude: {{ longitude_coords }}</p>
    <p>Latitude: {{ latitude_coords }}</p>
    <p>Gyroscopy : {{ cordinates_gyroscopy || 'undefined' }}</p>
    
  </div>
  <div *ngIf="latitude_coords !== undefined">
    <p>Gyroscopy : {{ cordinates_gyroscopy || 'undefined' }}</p>

  </div>
  

  <p>{{ activateBluetoothError }}</p>
  <p>{{ scanDevicesError }}</p>
</ion-content>

<div class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="back">
      <ion-icon size="large" (click)="navBluetoothHome()" name="bluetooth-outline"></ion-icon>
      <ion-label>_______</ion-label>
    </ion-tab-button>
    <ion-tab-button class="home-tab" tab="home">
      <ion-icon size="large" name="home-outline"></ion-icon>
      <ion-label>_______</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="navRadarBLE()" tab="orcamento">
      <ion-icon color="primary" size="large" name="locate"></ion-icon>
      <ion-label color="primary">_______</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>